<Layout::Section::Header @title="Pods" @searchPlaceholder="Search Pods by Keyword" @searchQuery={{this.query}} @onSearch={{perform this.search}}>
    <Button @icon="refresh" @onClick={{this.reload}} @helpText="Refresh" class="mr-2" />
    {{#if (safe-has this.table "selectedRows")}}
        <DropdownButton @icon="layer-group" @text="Bulk Action" @type="magic" @size="sm" @buttonWrapperClass="mr-2" @contentClass="dropdown-menu" as |dd|>
            <div class="next-dd-menu mt-2 mx-0">
                <div class="px-1">
                    <a href="#" class="text-red-500 next-dd-item" {{on "click" (dropdown-fn dd this.deleteSelectedPods)}}>
                        Delete Selected Pods
                    </a>
                </div>
            </div>
        </DropdownButton>
    {{/if}}
    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text="Create new Pod" class="mr-2" @onClick={{this.createPod}} />
</Layout::Section::Header>
<Layout::Section::Body>
    <Table @rows={{@model.pods}} @columns={{this.columns}} @selectable={{true}} @canSelectAll={{true}} @onSetup={{fn (mut this.table)}} />
</Layout::Section::Body>
{{outlet}}