<Overlay @isOpen={{true}} @onLoad={{this.setOverlayContext}} @position="right" @noBackdrop={{true}} @fullHeight={{true}} @width="600px" @isResizable={{true}}>
    <Overlay::Header @title={{@model.name}} @hideStatusDot={{true}} @titleWrapperClass="leading-5">
        <div class="flex flex-1 justify-end">
            <Button @type="default" @icon="times" @helpText={{t "common.close"}} @onClick={{this.onPressClose}} />
        </div>
    </Overlay::Header>

    <Overlay::Body>
        <div class="p-4 space-y-2">
            <div>ID: {{@model.id}}</div>
            <div>Name: {{@model.name}}</div>
            <div>Size: {{@model.size}}</div>
            <div class="mt-2 rounded-md border border-gray-700 p-3 bg-gray-800">
                <div class="font-semibold">Contents:</div>
                <div></div>
            </div>
        </div>
    </Overlay::Body>
</Overlay>